<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="specialDate">
            <h2><span jhiTranslate="tiendaVirtualApp.specialDate.detail.title">Special Date</span> {{ specialDate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tiendaVirtualApp.specialDate.beginDate">Begin Date</span></dt>
                <dd>
                    <span>{{ specialDate.beginDate }}</span>
                </dd>
                <dt><span jhiTranslate="tiendaVirtualApp.specialDate.finishDate">Finish Date</span></dt>
                <dd>
                    <span>{{ specialDate.finishDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/special-date', specialDate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
